body {
    margin: 0 250px;
    background-color: antiquewhite;
}

#header {
    display: flex;
    height: 100px;
}

#subheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: coral;
    padding: 20px 10px;
}

#subheader .menu a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

#main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#content {
    background: #fff;
    padding: 20px;
}

#sidebar {
    flex: 0 0 200px;
    background: darkgray;
    padding: 20px;
}

.disabled {
    display: none;
}