body {
    margin: 0 250px;
}

#header {
    display: flex;
    height: 100px;
}

#subheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: coral;
    padding: 20px 10px;
}

#subheader .menu a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.disabled {
    display: none;
}