<!doctype html>
{% load static %}
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Blog {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div id="header">

</div>
<div id="subheader">
    <div class="menu">
        {% if user.is_authenticated %}
            <a href="">Profil</a>
            <a href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
            <a href="{% url 'login' %}">Zaloguj</a>
            <a href="">Załóż konto</a>
        {% endif %}
    </div>
</div>
<div id="content">
{% block content %}

{% endblock %}
<div id="sidebar">

</div>
</div>
</body>
</html>