{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p>Opublikowany {{ post.publish }} przez {{ post.author }}</p>
        {{ post.content | linebreaks }}
    </div>
    <div class="comment">
        <form action="" method="post">
            {% csrf_token %}
            {% if user.is_authenticated %}
                Komentujesz jako: {{ user.username }}
                <p class="disabled">
                {{ form.name }}
                {{ form.email }}
                </p>
            {% else %}
                {#                Dodaj komentarz:#}
                <p>{{ form.name.label_tag }}{{ form.name }}</p>
                <p>{{ form.email.label_tag }}{{ form.email }}</p>
            {% endif %}
            <p>{{ form.text.label_tag }}{{ form.text }}</p>
            <input type="submit" value="Opublikuj komentarz">
        </form>
        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | linebreaks }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    </div>
    <div>
        {% if not comments %}<h3>Brak komentarzy</h3>{% else %}
            <h3>Komentarze ({{ comments | length }}):</h3>
            {% for comment in comments %}
                <strong>{{ comment.name }}</strong> {{ comment.created }}
                <p>{{ comment.text | linebreaks }}</p>
            {% endfor %}
        {% endif %}
        <hr/>
    </div>
{% endblock %}
